In [3]:
import pandas as pd
import numpy as np
csv_file_1 = 'water_quality.csv'
water = pd.read_csv(csv_file_1)


water = water.drop(['Measurement Timestamp Label', 'Measurement ID'], axis=1)
water['Measurement Timestamp'] = water['Measurement Timestamp'].astype(str).str[0:10].astype(np.str)
print(water['Beach Name'].unique())

water['Measurement Timestamp'] = pd.to_datetime(water['Measurement Timestamp'])
water = water.sort_values(by=['Measurement Timestamp'])

water.head()

['Montrose Beach' 'Ohio Street Beach' 'Calumet Beach' '63rd Street Beach'
 'Osterman Beach' 'Rainbow Beach']

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life
0,Montrose Beach,2013-08-30,20.3,1.18,0.891,0.080,3.0,9.4
825,Osterman Beach,2013-08-31,21.5,3.51,1.538,0.231,4.0,9.4
2,Calumet Beach,2013-09-03,23.2,3.63,1.201,0.174,6.0,9.4
278,Ohio Street Beach,2013-09-03,21.9,4.97,1.039,0.241,7.0,9.4
823,63rd Street Beach,2013-09-18,18.9,7.56,1.517,0.140,4.0,11.0

In [25]:
water_group = water.groupby(['Beach Name','Measurement Timestamp'])['Turbidity','Water Temperature'].mean().reset_index()
water_group.head()

          Beach Name Measurement Timestamp  Turbidity  Water Temperature
0  63rd Street Beach            2013-09-18   7.560000          18.900000
1  63rd Street Beach            2014-06-12   2.203333          17.766667
2  63rd Street Beach            2014-06-13   1.363333          16.758333
3  63rd Street Beach            2014-06-14   1.013750          17.195833
4  63rd Street Beach            2014-06-15   0.825833          17.087500

In [39]:
csv_file_1 = 'weather.csv'
weather = pd.read_csv(csv_file_1)
#weather = weather.drop(['Measurement Timestamp Label', 'Measurement ID'])
print(weather['Station Name'].unique())

weather = weather.drop(['Measurement Timestamp Label', 'Measurement ID','Battery Life','Heading','Solar Radiation','Barometric Pressure'], axis=1)
weather['Measurement Timestamp'] = weather['Measurement Timestamp'].astype(str).str[0:10].astype(np.str)


weather['Measurement Timestamp'] = pd.to_datetime(weather['Measurement Timestamp'])
weather = weather.sort_values(by=['Measurement Timestamp'])
weather.head()

['Oak Street Weather Station' 'Foster Weather Station'
 '63rd Street Weather Station']

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed
1068,63rd Street Weather Station,2015-04-25,7.00,5.9,86.0,7.2,5.0,5.2,60.0,119.0,5.1,7.1
1285,63rd Street Weather Station,2015-04-30,6.10,4.3,76.0,0.0,0.0,2.5,0.0,11.0,7.2,13.0
0,Oak Street Weather Station,2015-05-22,NaN,7.0,55.0,0.0,0.0,1.4,0.0,63.0,1.9,2.8
205,Foster Weather Station,2015-05-22,9.89,NaN,52.0,NaN,0.0,NaN,NaN,61.0,2.2,2.5
225,Foster Weather Station,2015-05-22,9.28,NaN,61.0,NaN,0.0,NaN,NaN,40.0,1.2,1.7

In [40]:
weather_group = weather.groupby(['Station Name','Measurement Timestamp'])['Air Temperature'].mean().reset_index(name = 'Mean Air Temp')
weather_group.head()

                  Station Name Measurement Timestamp  Mean Air Temp
0  63rd Street Weather Station            2015-04-25       7.000000
1  63rd Street Weather Station            2015-04-30       6.100000
2  63rd Street Weather Station            2015-06-22      27.300000
3  63rd Street Weather Station            2015-06-23      20.333333
4  63rd Street Weather Station            2015-06-24      21.450000

In [57]:
weather_group.rename(columns={'Station Name': 'Beach Name'}, inplace=True)
weather_group = weather_group.replace(to_replace ='Oak Street Weather Station',  value ='Ohio Street Beach')
#the reasons we called Ohio Street Beach because Ohio Street Beach is closed by oak street
weather_group = weather_group.replace(to_replace ='Foster Weather Station',  value ='Montrose Beach')
#the reasons we called Ohio Street Beach because Montrose beach is closed by Ohio street
weather_group = weather_group.replace(to_replace ='63rd Street Weather Station',  value ='63rd Street Beach')

weather_group.head()

          Beach Name Measurement Timestamp  Mean Air Temp
0  63rd Street Beach            2015-04-25       7.000000
1  63rd Street Beach            2015-04-30       6.100000
2  63rd Street Beach            2015-06-22      27.300000
3  63rd Street Beach            2015-06-23      20.333333
4  63rd Street Beach            2015-06-24      21.450000

In [68]:
water_air = pd.merge(weather_group, water_group,  how='left', on = ['Beach Name', 'Measurement Timestamp'])
water_air = water_air.dropna()
water_air.head()

,Beach Name,Measurement Timestamp,Mean Air Temp,Turbidity,Water Temperature
2,63rd Street Beach,2015-06-22,27.300000,1.128095,17.471429
3,63rd Street Beach,2015-06-23,20.333333,1.404444,17.800000
4,63rd Street Beach,2015-06-24,21.450000,1.258000,18.335000
5,63rd Street Beach,2015-06-25,20.104348,0.836667,17.938095
6,63rd Street Beach,2015-06-26,16.708333,1.100000,17.410526

In [21]:
import json
from pandas.io.json import json_normalize

with open('ecoli.json') as data_file:
    data = json.load(data_file)

quality = json_normalize(data,'data')



#json_file = open('rows.json')
#json_str = json_file.read()
#json_data = json.loads(json_str)
#type(json_data)
#openfile=open(json_file)
#jsondata=json.load(openfile)
#df=pd.DataFrame(jsondata)

#ecoli = pd.read_json(json_file, lines = True)

quality = quality[quality.columns[9:14]]
quality = quality.rename(index = str, columns = {9:"Timestamp", 10: "Beach", 11:"Sample 1", 12:"Sample 2", 13:"Average"} )
quality['Timestamp'] = quality['Timestamp'].astype(str).str[0:10].astype(np.str)
quality['Average'] = quality['Average'].astype(float)
print(quality['Beach'].unique())

quality['Timestamp'] = pd.to_datetime(quality['Timestamp'],errors='coerce')
quality = quality.sort_values(by=['Timestamp'])


quality.head()

['12th Street' '57th Street' '63rd Street' 'Calumet' 'Foster'
 'Hartigan (Albion)' 'Howard' 'Humboldt' 'Leone'
 'Margaret T Burroughs (31st)' 'Marion Mahony Griffin (Jarvis)' 'Montrose'
 'North Avenue' 'Oak Street' 'Oakwood' 'Ohio Street' 'Osterman' 'Rainbow'
 'Rogers' 'South Shore' 'Margaret T Burroughs' 'Hartigan'
 'Marion Mahony Griffin' 'Juneway' 'Fargo' 'Montrose Dog' 'NA' 'Columbia'
 'Lane' 'Loyola' 'North Shore']

      Timestamp        Beach      Sample 1      Sample 2  Average
4908 2015-05-26  South Shore  77.451082547   280.5556268    147.0
4904 2015-05-26  63rd Street  241.37120153  69.978080303    130.0
4907 2015-05-26      Rainbow  212.79680018   117.1123661    158.0
4906 2015-05-26     Montrose  60.313963186  149.55082696     95.0
4905 2015-05-26      Calumet  392.76038571  111.08459692    209.0

In [71]:
quality_group = quality.groupby(['Beach','Timestamp'])['Average'].mean().reset_index()
quality_group.rename(columns={'Beach': 'Beach Name'}, inplace=True)
quality_group.rename(columns={'Timestamp': 'Measurement Timestamp'}, inplace=True)
quality_group.rename(columns={'Average': 'EColi Sample PPM'}, inplace=True)
quality_group = quality_group.replace(to_replace ='Foster',  value ='Montrose Beach')
quality_group = quality_group.replace(to_replace ='Oak Street',  value ='Ohio Street Beach')
quality_group = quality_group.replace(to_replace ='63rd Street',  value ='63rd Street Beach')

quality_group = quality_group.dropna()
quality_group.head(100)

     Beach Name Measurement Timestamp  EColi Sample PPM
0   12th Street            2016-05-26        130.230565
1   12th Street            2016-06-01        115.568162
2   12th Street            2016-06-02         74.833148
3   12th Street            2016-06-03        344.949272
4   12th Street            2016-06-04         93.893557
5   12th Street            2016-06-05         16.431677
6   12th Street            2016-06-08        563.361341
7   12th Street            2016-06-09         59.380131
8   12th Street            2016-06-10        486.518242
9   12th Street            2016-06-11         61.846584
10  12th Street            2016-06-12        803.713879
11  12th Street            2016-06-15         23.237900
12  12th Street            2016-06-16         54.027771
13  12th Street            2016-06-17         60.431780
14  12th Street            2016-06-18         35.693137
15  12th Street            2016-06-19         88.317609
16  12th Street            2016-06-22         16.703293
17  12th Street            2016-06-23        521.784438
18  12th Street            2016-06-24         22.135944
19  12th Street            2016-06-25         13.416408
20  12th Street            2016-06-26         21.447611
21  12th Street            2016-06-29          6.928203
22  12th Street            2016-06-30         32.832910
23  12th Street            2016-07-01         38.366652
24  12th Street            2016-07-02         66.000000
25  12th Street            2016-07-03         16.522712
26  12th Street            2016-07-06         24.041631
27  12th Street            2016-07-07         48.062459
28  12th Street            2016-07-08          4.000000
29  12th Street            2016-07-09         35.242020
..          ...                   ...               ...
70  12th Street            2017-05-26        225.059992
71  12th Street            2017-05-29         63.686733
72  12th Street            2017-05-30        227.734495
73  12th Street            2017-05-31         31.016125
74  12th Street            2017-06-01         76.249590
75  12th Street            2017-06-02        125.091966
76  12th Street            2017-06-03        162.579211
77  12th Street            2017-06-04         15.099669
78  12th Street            2017-06-05         27.874720
79  12th Street            2017-06-06         95.393920
80  12th Street            2017-06-07         61.441029
81  12th Street            2017-06-08        157.216411
82  12th Street            2017-06-09         17.146428
83  12th Street            2017-06-10         10.000000
84  12th Street            2017-06-11        305.771156
85  12th Street            2017-06-12        201.077100
86  12th Street            2017-06-13        119.381741
87  12th Street            2017-06-14        379.915780
88  12th Street            2017-06-15        190.698715
89  12th Street            2017-06-16         78.682908
90  12th Street            2017-06-17        325.453530
91  12th Street            2017-06-18        106.714573
92  12th Street            2017-06-19        316.591219
93  12th Street            2017-06-20          6.000000
94  12th Street            2017-06-21        996.548544
95  12th Street            2017-06-22        521.223560
96  12th Street            2017-06-23        205.603988
97  12th Street            2017-06-24         21.494185
98  12th Street            2017-06-25         69.821200
99  12th Street            2017-06-26         16.970563

[100 rows x 3 columns]

In [74]:
merged = pd.merge(water_air, quality_group,  how='left', on = ['Beach Name', 'Measurement Timestamp'])
merged = merged.dropna()
merged.head(100)

,Beach Name,Measurement Timestamp,Mean Air Temp,Turbidity,Water Temperature,EColi Sample PPM
1,63rd Street Beach,2015-06-23,20.333333,1.404444,17.800000,33.000000
2,63rd Street Beach,2015-06-24,21.450000,1.258000,18.335000,211.000000
3,63rd Street Beach,2015-06-25,20.104348,0.836667,17.938095,1878.000000
4,63rd Street Beach,2015-06-26,16.708333,1.100000,17.410526,28.000000
8,63rd Street Beach,2015-06-30,18.945833,0.809565,18.886957,423.000000
9,63rd Street Beach,2015-07-01,14.871429,1.707778,18.761111,22.000000
10,63rd Street Beach,2015-07-02,16.150000,3.435714,19.314286,49.000000
15,63rd Street Beach,2015-07-07,17.150000,7.878824,18.294118,1201.000000
16,63rd Street Beach,2015-07-08,16.312500,10.788125,17.906250,189.000000
17,63rd Street Beach,2015-07-09,17.400000,7.037222,18.611111,63.000000
18,63rd Street Beach,2015-07-10,19.820833,3.198261,19.391304,203.000000
22,63rd Street Beach,2015-07-14,21.954167,1.765789,19.042105,20.000000
23,63rd Street Beach,2015-07-15,17.637500,13.816667,19.100000,96.000000
24,63rd Street Beach,2015-07-16,20.152174,7.748182,19.195455,84.000000
25,63rd Street Beach,2015-07-17,27.579167,3.298182,20.350000,146.000000
29,63rd Street Beach,2015-07-21,22.108333,2.093500,21.305000,27.000000
30,63rd Street Beach,2015-07-22,22.333333,1.226250,22.012500,23.000000
31,63rd Street Beach,2015-07-23,23.037500,0.867083,22.808333,20.000000
32,63rd Street Beach,2015-07-24,25.962500,0.878333,21.995833,245.000000
36,63rd Street Beach,2015-07-28,26.387500,0.561250,24.487500,490.000000
37,63rd Street Beach,2015-07-29,26.328571,0.638182,23.609091,105.000000
38,63rd Street Beach,2015-07-30,25.466667,0.250000,23.866667,39.000000
39,63rd Street Beach,2015-07-31,26.322727,0.341765,23.082353,49.000000
43,63rd Street Beach,2015-08-04,23.345833,0.769412,23.558824,46.000000
44,63rd Street Beach,2015-08-05,22.614286,0.674500,23.445000,34.000000
45,63rd Street Beach,2015-08-06,22.868182,1.726842,24.026316,49.000000
46,63rd Street Beach,2015-08-07,23.795833,1.010000,23.917391,79.000000
50,63rd Street Beach,2015-08-11,22.595833,1.205789,23.778947,50.000000
51,63rd Street Beach,2015-08-12,21.595833,3.387500,23.893750,142.000000
52,63rd Street Beach,2015-08-13,24.450000,1.914167,23.937500,59.000000
...,...,...,...,...,...,...
557,Ohio Street Beach,2017-06-25,19.322727,0.925909,18.113636,55.695601
558,Ohio Street Beach,2017-06-26,18.663636,1.218261,18.017391,160.586425
559,Ohio Street Beach,2017-06-27,18.520000,1.570000,17.787500,15.811388
560,Ohio Street Beach,2017-06-28,22.425000,0.952917,17.300000,113.560557
561,Ohio Street Beach,2017-06-29,24.025000,1.240000,17.954167,430.072365
562,Ohio Street Beach,2017-06-30,22.812500,1.107500,18.520833,82.377181
563,Ohio Street Beach,2017-07-01,24.220833,1.092917,19.254167,48.733972
564,Ohio Street Beach,2017-07-02,25.245455,1.251364,20.036364,274.335561
565,Ohio Street Beach,2017-07-03,20.521739,0.934167,19.954167,118.680243
566,Ohio Street Beach,2017-07-04,21.091667,1.295417,20.912500,662.546602
567,Ohio Street Beach,2017-07-05,23.885714,0.704583,20.729167,165.698521
568,Ohio Street Beach,2017-07-06,27.040909,0.650417,21.191667,89.621426
569,Ohio Street Beach,2017-07-07,24.145833,1.199167,22.358333,49.132474
570,Ohio Street Beach,2017-07-08,20.479167,3.566250,21.887500,25.690465
571,Ohio Street Beach,2017-07-09,25.690476,1.401818,21.709091,78.166489
572,Ohio Street Beach,2017-07-10,23.729167,1.430833,21.654167,234.486673
573,Ohio Street Beach,2017-07-11,23.820833,1.027083,22.437500,76.485293
574,Ohio Street Beach,2017-07-12,24.852174,0.815217,21.491304,179.465874
575,Ohio Street Beach,2017-07-13,26.400000,0.775417,20.895833,14.142136
576,Ohio Street Beach,2017-07-14,20.678261,1.528261,20.339130,33.763886
577,Ohio Street Beach,2017-07-15,22.073913,1.422727,20.600000,20.615528
578,Ohio Street Beach,2017-07-16,20.704545,2.825909,20.650000,139.967853
579,Ohio Street Beach,2017-07-17,19.727778,4.086667,21.608333,38.249183
580,Ohio Street Beach,2017-07-18,25.877778,1.993750,21.841667,167.463429
581,Ohio Street Beach,2017-07-19,24.516667,1.495417,22.925000,31.400637
583,Ohio Street Beach,2017-07-21,24.905263,1.199130,23.300000,157.607106
584,Ohio Street Beach,2017-07-22,23.958333,1.326667,23.441667,554.153408
585,Ohio Street Beach,2017-07-23,25.282353,1.547895,24.189474,39.799497
586,Ohio Street Beach,2017-07-24,20.795652,5.212917,22.945833,104.565769
587,Ohio Street Beach,2017-07-25,23.037500,2.737500,22.912500,35.411862